@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
body {
  box-sizing: border-box;
  font-family: "Outfit";
  background-color: hsl(217, 54%, 11%);
}
.preview-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
  height: 30rem;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  background-color: hsl(216, 50%, 16%);
}
.preview-card-image {
  background-image: url("/images/image-equilibrium.jpg");
  height: 54%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
}
.preview-card-heading {
  color: #fff;
}
.preview-card-text {
  font-size: 1.1rem;
  color: #fff;
}
.preview-card-balance {
  color: hsl(178, 100%, 50%);
  font-weight: 800;
}
.preview-card-time {
  display: inline-block;
  color: hsl(0, 0%, 100%);
  float: right;
  margin-top: -2.2rem;
}
.preview-card-time,
.preview-card-balance {
  display: flex;
  column-gap: 5px;
}
.border {
  border-bottom: 1px solid hsl(0, 0%, 100%);
}
.preview-card-creator img {
  margin: 0rem 0.75rem;
  border-radius: 50%;
  border: 2px solid #fff;
}
.preview-card-creator {
  display: flex;
  align-items: center;
  color: #fff;
}
.preview-card-creator span {
  padding: 0rem 0.1rem;
  color: hsl(0, 0%, 100%);
}
/* Foooter */
.attribution{
    position: absolute;
    width: 100vw;
    text-align: center;
    color: #fff;
    bottom: 0px;
}